@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    --color-background-dark: #1F1F1F;
    --color-background: #242424;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background-size: cover;
    background-color: var(--color-background-dark);
}

.card {
    background-color: var(--color-background);
    width: 50rem;
    height: 50rem;
    border-radius: 100px;
    margin-top: 10%;
    box-shadow: 0 0 3rem #111111;
    transition: all 300ms ease;

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}

.card:hover {
    box-shadow: 0 0 1.5rem #111111;
}

.image {
    display: flex;
    justify-content: center;
    padding-top: 5rem;
}

.card img {
    width: 30%;
    border-radius: 1000px;
    box-shadow: 0 0 0 0.5rem #333;
}

.card h1 {
    color: white;
    text-align: center;
}

.card p {
    color: white;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}

.socials {
    margin-top: 50px;
    text-align: center;
}

.socials i {
    color: white;
    padding: 30px;
    transition: all 300ms ease;
}

.socials i:hover {
    transform: translateY(-10%);
    cursor: pointer;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}